.repo {
    position: relative;
    height: 100%;
    width: 30%;
    padding: 24px;
    background-color: #F2F2F2;

    h4 {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 14px;
        font-weight: 400;
    }

    &__content {
        h3 {
            font-size: 32px;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.87);
        }
    }
}