@mixin item($color, $background, $height) {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color;
    font-size: 13px;
    font-weight: 400;
    background-color: $background;
    border-radius: 100px;
    min-width: 62px;
    min-height: $height;
    padding: 0 8px;
}

.repo {
    position: relative;
    height: 100%;
    width: 30%;
    padding: 24px;
    background-color: #F2F2F2;

    h4 {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 14px;
        font-weight: 400;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 16px;

        h3 {
            font-size: 32px;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.87);
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 16px;

        &_main {
            display: flex;
            justify-content: space-between;
        }
        &_lang {
            @include item($background: rgba(33, 150, 243, 1), $color: #fff, $height: 32px);
          
        }

        &_stars {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            p {
                font-size: 14px;
                font-weight: 400;
                color: rgba(0, 0, 0, 0.87)
            }
           
        }

        &_secondary {
            display: flex;
            flex-direction: row;
            gap: 8px;
        }

        &_item {
            @include item($background: rgb(231, 227, 227), $color: rgba(0, 0, 0, 0.87), $height: 24px);
        }
    }
}